# .gitignore

# Ignorar los archivos de configuración
/configuration/*

# Ignorar los archivos pycache
**/__pycache__

# Ignorar los archivos de logs
/logs/*

# Si no quieres incluir los tests, también puedes ignorarlos
/tests/*